.main__header {
    display: grid;
    width: 100vw;
    height: calc(100vh - 3rem);
    place-items: center;
    margin-top: 3rem;
    background-color: var(--bluedark-100);
    /*#1b2033*/
}

.main__header-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.main__header-left {
    margin-top: -3rem;
    /* mover os itens para cima h2*/
}

.main__header-left h4 {
    margin-bottom: 1rem;
    font-weight: 400;
    color: var(--bluelight);
}

.main__header-left p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
    color: var(--white);
}

.main__header-right {
    display: grid;
    place-items: center;
    position: relative;
}

.main__header-image {
    position: relative;
}




/* Programs*/
.programs {
    margin-top: 4rem;
}

.programs__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.programs__program a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}







/* values */

.values__container {
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}

.values__paragrafh {
    display: flex;

    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    margin-top: 14rem;
    width: 33rem;
    /*32rem */
    padding: 1rem 1rem;
    /* background: green;




    /*margin: 1.5rem 0 5rem;*/
    /*background-color: aqua;*/
}

.values__title {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 2.5rem;

}

.values__span {
    font-size: 2rem;
    color: var(--bluelight);
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2.5rem;
}

.values__p {
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 400;
}

.values__right {
    margin-top: 10rem;
}

.values__right>p {
    margin: 1.5rem 0 5rem;
}

.values__right .title-card {
    font-size: 1.8rem;
    color: #52e0ff;
}

.values__right .icon-values {
    width: 10rem;
    /*font-size: 7rem;*/
}

.values__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 2rem;
    /* 3.4rem 2.4rem*/
    padding-bottom: 10rem;
}





/* monitoring*/
.main__header-right .title-monitory {
    color: #115678;
}















/*   development*/


.section__develop {
    background: #f4f4f4;
    margin-top: 0;
}

.section__title-develop {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #1c2c44;
    font-size: 2rem;

}

.right-r.dev {
    margin: 0;
}

.right-r .details-r.develop {

    border-top: 4px solid var(--bluelight);
    padding-top: 2rem;
    /*background: #52e0ff;*/
}

.details-r.develop .icons.develop {
    color: #1c2c44;
    font-size: 1.3rem;
}






















/* consult*/
.section__consult {
    /* display: grid;
    width: 100vw;
    height: calc(100vh - 3rem);
    place-items: center;
    margin-top: 3rem;*/
    background-color: var(--bluedark-50);

    /*#1c2c44*/
}

.section__consult-container {
    display: flex;
    height: 100%;
    /*grid-template-columns: 1fr 1fr;*/
    align-items: center;
    justify-content: center;
    /* gap: 1rem;*/
}

.section__left {

    width: 45%;

    text-align: center;
    /* background-color: #52e0ff;*/

    margin: 5rem 0 3rem 0;

    /* mover os itens para cima h2*/
}

.section__left h1 {
    margin: 1rem 0 3.5rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    border-bottom: 3px solid #52e0ff;
    padding-bottom: 2rem;
}

/*.section__left p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
    color: var(--white);
}*/

.section__left .btn.consult {
    width: auto;
    padding: 10px 10px;
    margin-left: 10rem;
}

/*.main__header-right {
    display: grid;
    place-items: center;
    position: relative;
}

.main__header-image {
    position: relative;
}*/







/* questions FAQs*/


.faqs {
    background: var(--white);

}

.faqs__container .title__question {
    color: var(--bluedark-50);
    padding-top: 6rem;
    text-align: center;
}

.title__question {
    font-size: 2.2rem;
}

.faqs__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem 5rem;
    margin-top: 4rem;
    /*background: #52e0ff;*/
}

.faq {
    /*background: red;*/
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 70%;

}

.faq div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__icon {
    background: transparent;
    color: var(--bluedark-50);
    font-size: 1.5rem;
    border: none;
}

.faq .question_faq {
    color: var(--bluedark-50);
    font-size: 1.1rem;

}

.faq p {
    padding-top: 1rem;
    border-top: 1.5px solid #d9d9d9;
    margin-top: 1.2rem;
    color: #373737;
    font-weight: 300;
    font-size: 1.1rem;
}