*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --navbar-color: #252835;
  --home-bg: #3d4151;
  --bluedark-100: #1B2033;
  --bluedark-50: #1C2C44;
  --white: #FDFDFD;
  --bluelight: #00B6DE;
  --bluelight-50: #036FC0;
  --color-primary: hsl(var(--bluedark-100));
  --container-width-lg: 80%;
  --container-width-md: 90%;
  transition: all 500ms ease;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--white);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--white)
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.btn-get {
  color: var(--white);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: var(--bluelight);
  border-radius: 1.5rem;
  transition: var(--transition);
}

.btn-get.lg {
  border: none;
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.btn-get.lg:hover {
  background: var(--bluelight-50);
  transition: var(--transition);
}

.btn-get.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}

.btn-get.sm:hover {
  background: var(--bluedark-50);
}

section {
  background: var(--bluedark-100);
}


.section__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card {
  border: 3px solid var(--bluelight);
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.card span {
  display: grid;
  place-items: center;
  margin-inline: auto;
  width: 16rem;
  height: 10rem;
  color: var(--bluelight);
}

.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}


/* media*/
@media screen and (max-width: 1024px) {

  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.3;
  }
}